---
import Container from "@atoms/Container.astro";

import { Icon } from "astro-icon/components";

import MENU from "@assets/menu.json";
---

<footer>
    <Container spacing={"small"} background={"primary"}>
        <div class="flex justify-center gap-12">
            {
                MENU.footer.map((social) => (
                    <a class="text-white text-2xl" href={social.url} target="_blank">
                        <Icon name={social.icon} />
                    </a>
                ))
            }
        </div>
    </Container>
</footer>
