---
import { Image } from 'astro:assets';

import logoImage from "./src/assets/logo-full.svg"

---
<section class="bg-coldgrey px-1 py-4">
    <div class="container mx-auto flex justify-center">
        <div class="w-96 h-auto">
            <Image src={logoImage} alt="EVAS: Ecological Validation of Artifical Simulacra | Research Cooperative" />
        </div>
        <div class="self-center text-eggwhite">
            <h1 class="text-3xl">
                EVAS Research Cooperative
            </h1>
            <p class="font-thin">coming soon</p>
        </div>
    </div>
</section>