---
import { Image } from "astro:assets";

import Layout from "@layouts/Layout.astro";

import Container from "@atoms/Container.astro";
import Headline from "@atoms/Headline.astro";
import Publication from "@atoms/Publication.astro";

import LOGO from "@assets/logo-full.svg";
import PUBLICATIONS from "@assets/publications.json";

---

<Layout>
	<Container direction="flex-row" background={"bg-coldgrey"} squeezed={true}>
		<div class="w-96 h-auto">
			<Image
				src={LOGO}
				alt="EVAS: Ecological Validation of Artifical Simulacra | Research Cooperative"
			/>
		</div>
		<div class="self-center text-eggwhite">
			<h1 class="text-3xl">EVAS Research Cooperative</h1>
			<p class="font-thin">coming soon</p>
		</div>
	</Container>

	<Container>
		<Headline>The Shared Goal</Headline>
	</Container>

	<Container>
		<Headline>Publications</Headline>

		<div class="grid grid-cols-2 gap-12">
			{PUBLICATIONS.map((article) => 
				<Publication {...article}>

				</Publication>
			)}
		</div>
	</Container>
</Layout>
