---
import { Icon } from "astro-icon/components";

import Layout from "@layouts/Layout.astro";
import Hero from "@layouts/partials/Hero.astro";

import Container from "@atoms/Container.astro";
import Headline from "@atoms/Headline.astro";
import Divider from "@atoms/Divider.astro";
import Publication from "@atoms/Publication.astro";

import * as HERO from "@assets/index.hero.md";
const PUBLICATIONS = Object.values(
	import.meta.glob("@assets/publications/*.md", { eager: true }),
);
---

<Layout>
	<Hero />
	<Container>
		<Headline>
			<Icon class="inline mr-2 text-5xl text-figred" name="pixel:star" />
			{HERO.frontmatter.headline}
		</Headline>
		<section class="text-lg leading-8 max-w-4xl">
			<Fragment set:html={HERO.compiledContent()} />
		</section>
	</Container>
	<Divider/>
	<Container>
		<Headline>
			<Icon
				class="inline mr-2 text-5xl text-figred"
				name="pixel:folder-open"
			/>
			Publications
		</Headline>
		<div
			class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-12 md:gap-20"
		>
			{
				PUBLICATIONS.map((article: any) => (
					<Publication {...article.frontmatter}>
						<Fragment set:html={article.compiledContent()} />
					</Publication>
				))
			}
		</div>
	</Container>
</Layout>
