---
interface Props {
    direction?: "flex-col" | "flex-row";
    background?: "bg-eggwhite" | "bg-coldgrey" | "bg-figred";
    squeezed?: boolean;
}

const {
    direction = "flex-col",
    background = "bg-eggwhite",
    squeezed = false,
} = Astro.props;
---

<section class:list={[background, squeezed ? "py-4" : "py-16", "px-4"]}>
    <div class:list={[direction, "container mx-auto flex justify-center content-center gap-4"]}>
        <slot />
    </div>
</section>
