---
interface Props {
    background?: "white" | "dark" | "primary";
    spacing?: "none" | "small" | "medium" | "large";
    flow?: "flex-col" | "flex-row";
}

const bg_variants = {
    white: "bg-eggwhite",
    dark: "bg-coldgrey",
    primary: "bg-figred",
};

const spacing_variants = {
    none: "py-0",
    small: "py-4",
    medium: "py-8",
    large: "py-16",
};

const {
    background = "white",
    spacing = "large",
    flow = "flex-col",
} = Astro.props;
---

<article
    class:list={[bg_variants[background], spacing_variants[spacing], "px-4"]}
>
    <div
        class:list={[
            flow,
            "relative container mx-auto flex justify-center content-center gap-4",
        ]}
    >
        <slot />
    </div>
</article>
