---
import { Icon } from "astro-icon/components";

interface Props {
    repetitions?: number;
    size?: "small" | "medium" | "large";
    gap?: "none" | "small" | "medium" | "large";
}

const size_variants = {
    small: "text-xl",
    medium: "text-3xl",
    large: "text-6xl",
};

const gap_variants = {
    none: "gap-0",
    small: "gap-2",
    medium: "gap-4",
    large: "gap-8",
};

const { repetitions = 5, size = "large", gap = "large" } = Astro.props;
---

<div
    class:list={[
        gap_variants[size],
        "my-4 flex justify-center contents-center",
    ]}
>
    {
        Array.from({ length: repetitions }).map((_content, index) => (
            <Icon
                class:list={[
                    "text-figred",
                    size_variants[size],
                    `data-[pos=${index - Math.floor(repetitions / 2)}]`,
                ]}
                name="tdesign:ellipsis"
            />
        ))
    }
</div>
