---
import { Icon } from "astro-icon/components";

interface Props {
    repetitions?: number;
    size?: number;
    gap?: number;
}

const { repetitions = 5, size = 6, gap = 16 } = Astro.props;
---

<div class:list={[`gap-${gap}`, "my-4 flex justify-center contents-center"]}>
    {
        Array.from({ length: repetitions }).map((_content, index) => (
            <Icon
                class="text-figred"
                class:list={[
                    `text-${6}xl`,
                    `data-[pos=${index - Math.floor(repetitions / 2)}]`,
                ]}
                name="tdesign:ellipsis"
            />
        ))
    }
</div>
